body {
    background-color: lightgreen ;
    color: black;
}
.jumbotron {
  
    background-image: url("bacteria.jfif");
    background-size: 100% 100%;
    text-align: center;
  }
  .label {
    /*margin-bottom: -5px;*/
     margin-bottom: 0px
  }
  
 

